<a href="https://colab.research.google.com/github/Tam1979/TATA-ML/blob/master/w2_1a_svm_college.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Support Vector Machines: College Admission

Let's look at a classification example in scikit-learn.  We looked at the college admission before. We can look again at this dataset.

In [0]:
%matplotlib inline
import pandas as pd

## Step 1: Load the data

In [0]:
dataset = pd.read_csv("https://s3.amazonaws.com/elephantscale-public/data/college-admissions/admission-data.csv")

## Step 2: Build the Vector

**=> Build the vector with these three columns: gre, gpa, rank **

In [0]:
## TODO : input cols : gre, gpa, rank
fv = dataset[['gre', 'gpa', 'rank']].values
labels = dataset['admit'].values

## Step 3: Split into training and test.

**=> Split into training/test with an 80/20 split **

In [0]:
 from sklearn.model_selection import train_test_split
## Split into training and test
## TODO: create training and test with an 80/20 split
X_train, X_test, Y_train, Y_test = train_test_split(dataset[['gre', 'gpa', 'rank']], labels, test_size=0.2)


print ("training set count ", len(X_train))
print ("testing set count ", len(Y_train))

In [0]:
X_train

    gre   gpa  rank
57  380  2.94     3
33  800  4.00     3
2   800  4.00     1
83  380  2.91     4
94  660  3.44     2
47  500  2.97     4
27  520  3.74     4
21  660  3.63     2
97  480  3.57     2
73  580  4.00     2
17  360  2.56     3
70  640  4.00     3
96  640  3.52     4
41  580  3.32     2
5   760  3.00     2
29  520  3.29     1
88  700  3.28     1
50  640  3.86     3
35  400  3.05     2
37  520  2.90     3
40  560  2.42     2
38  500  3.13     2
81  620  3.07     2
7   400  3.08     2
95  660  3.33     2
99  400  3.31     3
39  520  2.68     3
86  600  3.32     2
63  680  3.85     3
90  700  3.83     2
..  ...   ...   ...
4   520  2.93     4
20  500  3.17     3
3   640  3.19     4
24  760  3.35     2
62  640  3.67     3
49  400  3.35     3
22  600  2.82     4
0   380  3.61     3
8   540  3.39     3
71  300  2.92     4
55  740  4.00     3
46  580  3.46     2
66  740  3.62     4
42  600  3.15     2
16  780  3.87     4
60  620  3.18     2
56  560  3.19     3
52  740  3.37     4
54  660  3.34     3
80  700  2.90     4
98  700  2.88     2
91  720  3.64     1
93  580  2.93     2
78  540  3.12     1
36  580  3.25     1
87  600  3.48     2
19  540  3.81     1
58  400  3.65     2
31  760  3.35     3
43  500  3.31     3

[80 rows x 3 columns]

## Step 4: Build the Radical SVM model

In [0]:
from sklearn import svm
import time

clf = svm.SVC(kernel='linear')

t1 = time.perf_counter()
clf.fit(X_train, Y_train)
t2 = time.perf_counter()


print("traind on {:,} records in {:,.2f} ms".\
      format(len(X_train), (t2-t1)*1000))

# Print the coefficients and intercept for linearsSVC
print ("inputs : gre, gpa, rank")

traind on 80 records in 46.74 ms
inputs : gre, gpa, rank

## Step 5: Run the test set and get the predictions

In [0]:
predictions = clf.predict(X_test)
predictions

array([0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1])

## Step 6: See the evaluation metrics

In [0]:
from sklearn.metrics import accuracy_score
print("Accuracy = " + str(accuracy_score(Y_test, predictions)))

Accuracy = 0.9

In [0]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test, predictions)

0.9230769230769231

**=> What does AUC mean?**

In [0]:
from sklearn.metrics import classification_report
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       0.78      1.00      0.88         7
           1       1.00      0.85      0.92        13

   micro avg       0.90      0.90      0.90        20
   macro avg       0.89      0.92      0.90        20
weighted avg       0.92      0.90      0.90        20

## Step 7: Show the confusion matrix

In [0]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, predictions)

array([[ 7,  0],
       [ 2, 11]])

**=> TODO: What is the meaning of the confusion matrix? **

## Step 8: Try running a prediction on your own data

**=> Create a few rows in your own dataframe (start with pandas dataframe) ** 

**=> Run .transform from your model to see the results. **

In [0]:
newdata = pd.DataFrame({'gre' : [600, 700, 800], 
                        'gpa' : [4.0, 3.5, 3.2],
                        'rank': [1,   2,   3]}
             )
print(newdata)

# TODO: Run on new data
clf.predict(newdata)

   gpa  gre  rank
0  4.0  600     1
1  3.5  700     2
2  3.2  800     3

array([1, 1, 1])

## Step 10 : Discuss the findings

### Coefficients

Get the coefficients.

### Accuracy
Compare accuracies